
<%= render 'sidebar' %>
<div class="main-content">
  <%= render 'header', title: 'Dashboard' %>
  <main>
    <div class="cards">
      <div class="cards__single">
        <div class="">
          <h1>54</h1>
          <span class="metacard">Police Officers</span>
        </div>
        <div class="">
          <span class="la la-users icon"></span>
        </div>
      </div>
      <div class="cards__single">
        <div class="">
          <h1>79</h1>
          <span class="metacard">Criminals</span>
        </div>
        <div class="">
          <span class="la la-users icon"></span>
        </div>
      </div>
      <div class="cards__single">
        <div class="">
          <h1>124</h1>
          <span class="metacard">Categories</span>
        </div>
        <div class="">
          <span class="la la-clipboard-list icon"></span>
        </div>
      </div>
      <div class="cards__single">
        <div class="">
          <h1>544</h1>
          <span class="metacard">Pending FIRs</span>
        </div>
        <div class="">
          <span class="la la-clipboard-list icon"></span>
        </div>
      </div>
    </div>
    <section class="recent-grid">
      <div class="projects">
        <div class="projects__card b-none">
          <div class="projects__card-header">
            <h4>Recent FIRs</h4>
            <button>See all <span class="las la-arrow-right"></span></button>
          </div>
          <div class="projects__card-body">
            <div class="table-responsive">
              <table width="100%">
                <thead>
                  <tr>
                    <td>Project Title</td>
                    <td>Department</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status purple"></span>review</td>
                  </tr>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status pink"></span>in progress</td>
                  </tr>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status orange"></span>pending</td>
                  </tr>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status purple"></span>review</td>
                  </tr>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status pink"></span>in progress</td>
                  </tr>
                  <tr>
                    <td>UI/UX Design</td>
                    <td>UI Team</td>
                    <td class="status-col"><span class="status orange"></span>pending</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <div class="customers">
        <div class="customers__card">
          <div class="customers__card-header">
            <h4>New Customer</h4>
            <button>See all <span class="las la-arrow-right"></span></button>
          </div>
          <div class="customers__card-body">
            <div class="customer">
              <div class="info">
                <%= image_tag asset_path('npf.png'), width: '40px', height: '40px', alt: 'icon' %>
                <div>
                  <h4>Lewis S. Cunningham</h4>
                  <small>CEO Excerpt</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>
          </div>
          <div class="customers__card-body">
            <div class="customer">
              <div class="info">
                <%= image_tag asset_path('npf.png'), width: '40px', height: '40px', alt: 'icon' %>
                <div>
                  <h4>Lewis S. Cunningham</h4>
                  <small>CEO Excerpt</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>
          </div>
          <div class="customers__card-body">
            <div class="customer">
              <div class="info">
                <%= image_tag asset_path('npf.png'), width: '40px', height: '40px', alt: 'icon' %>
                <div>
                  <h4>Lewis S. Cunningham</h4>
                  <small>CEO Excerpt</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>
          </div>
          <div class="customers__card-body">
            <div class="customer">
              <div class="info">
                <%= image_tag asset_path('npf.png'), width: '40px', height: '40px', alt: 'icon' %>
                <div>
                  <h4>Lewis S. Cunningham</h4>
                  <small>CEO Excerpt</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>
          </div>
          <div class="customers__card-body">
            <div class="customer">
              <div class="info">
                <%= image_tag asset_path('npf.png'), width: '40px', height: '40px', alt: 'icon' %>
                <div>
                  <h4>Lewis S. Cunningham</h4>
                  <small>CEO Excerpt</small>
                </div>
              </div>
              <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="text-center">
    <%= render 'layouts/footer' %>
  </div>
</div>
