<div class="bg-white p-2 text-center">
  <h5 class="my-4 border-bottom">Crime ID: <%= crime.id %> Details</h5>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Reporting Officer:</strong></h5>
    <p><%= crime.user.full_name %></p>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Categories:</strong></h5>
    <% if crime.categories.count <= 0 %>
      <em>Not registered</em>
    <% else %>
      <% crime.categories.each do  |category|%>
        <li><%= category.name %></li>
      <% end %>
    <% end %>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Accuser:</strong></h5>
    <p><%= crime.accuser %></p>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Accused:</strong></h5>
    <p><%= crime.accused %></p>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Unknown Others:</strong></h5>
    <p><%= crime.unknown_others %></p>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>Accuser:</strong></h5>
    <%= format_time(crime.date) %>
  </div>

  <div class="mb-4">
    <h5 class="m-0 mb-1"><strong>statements:</strong></h5>
    <%= crime.statements %>
  </div>
</div>
