<%= form_for(user, html: {multipart: true}) do |f| %>
  <div class="form-group text-start m-3">
    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :firstname %>
        <%= f.text_field :firstname,
                          autofocus: true, required: true, autocomplete: "text", class: "form-control"%>
      </div>

      <div class="col-md-6">
        <%= f.label :lastname %>
        <%= f.text_field :lastname,
                          required: true, autocomplete: "text", class: "form-control"%>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email,
                          required: true, autocomplete: "text", class: "form-control"%>
      </div>

      <div class="col-md-4">
        <%= f.label :phone, 'Phone Number' %>
        <%= f.number_field :phone,
                          required: true, autocomplete: "number", class: "form-control"%>
      </div>

      <div class="col-md-4">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password,
                           required: true, class: "form-control"%>
      </div>
    </div>

    <div class="form-group mb-3">
      <%= f.label :address, 'Full address' %>
      <%= f.text_field :address,
                        required: true, autocomplete: "text", class: "form-control"%>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :gender, 'Gender' %>
        <select name="user[gender]" class="form-control" required>
          <option value="">Choose...</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>

      <div class="col-md-6">
        <%= f.label :admin, 'Check if user is admin', class: 'd-block' %>
        <%= f.check_box :admin %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :avatar, 'Attach profile image:' %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>
  </div>
  <div class="mt-4 text-center">
    <%= f.submit class: 'btn btn-primary move-right' %>
  </div>
<% end %>
