<%= render './dashboard/sidebar' %>
<div class="main-content">
  <%= render './dashboard/header', title: 'All Users' %>
  <main>
    <%= render 'layouts/alerts' %>
    <%= render 'nav_users' %>
    <div class="bg-white p-2 ">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">UID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <% next if user.eql?(current_user) %>
          <tr class="mb-3">
            <th scope="row"><%= id_formatter(user.id) %></th>
            <td><%= "#{user.firstname.titlecase} #{user.lastname}" %></td>
            <td><%= user.email %></td>
            <td>
              <%= user.admin ? 'Admin Officer' : 'Police Officer' %>
              <%= link_to toggle_user_role_path(user), method: :post, data: { confirm: 'Change User Role?' } do %>
                <% badge = user.admin ? 'success' : 'warning' %>
                <span class="badge bg-<%= badge %>"><span class="las la-road"></span></span>
              <% end %>
            </td>
            <td>
              <% if user.active %>
                <span class="badge bg-success">Active</span>
                <%= link_to  toggle_user_status_path(user), class: 'badge bg-danger', method: :post, data: { confirm: 'Deactivate user?' } do %>
                  <span class="badge bg-danger"><span class="las la-toggle-off"></span></span>
                <% end %>
              <% else %>
                <span class="badge bg-danger">Inactive</span>
                <%= link_to toggle_user_status_path(user), class: 'badge bg-success', method: :post, data: { confirm: 'Activate user?' } do %>
                  <span class="badge bg-success"><span class="las la-toggle-on"></span></span>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to user_path(user) do %>
                <span class="badge bg-warning"><span class="las la-eye"></span> View</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>

  </main>
  <div class="text-center">
    <%= render 'layouts/footer' %>
  </div>
</div>
