<p id="notice"><%= notice %></p>

<h1>Complainants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Surname</th>
      <th>Firstname</th>
      <th>Dob</th>
      <th>Nationality</th>
      <th>Address</th>
      <th>Occupation</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Criminal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complainants.each do |complainant| %>
      <tr>
        <td><%= complainant.user_id %></td>
        <td><%= complainant.surname %></td>
        <td><%= complainant.firstname %></td>
        <td><%= complainant.dob %></td>
        <td><%= complainant.nationality %></td>
        <td><%= complainant.address %></td>
        <td><%= complainant.occupation %></td>
        <td><%= complainant.phone %></td>
        <td><%= complainant.gender %></td>
        <td><%= complainant.criminal %></td>
        <td><%= link_to 'Show', complainant %></td>
        <td><%= link_to 'Edit', edit_complainant_path(complainant) %></td>
        <td><%= link_to 'Destroy', complainant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complainant', new_complainant_path %>
