<%= render './dashboard/sidebar' %>
<div class="main-content">
  <%= render './dashboard/header', title: 'CRIMES' %>
  <main>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/form_errors', obj: @crime %>
    <%= render 'categories/nav', text: ['Add New Crime', 'All Crimes'], url: [new_crime_path, crimes_path] %>
    <div class="bg-white p-2 text-center">
      <h5 class="my-4">Create Crime Record</h5>

      <%= render 'form', crime: @crime %>

      <%= link_to 'Show', @crime %> |
      <%= link_to 'Back', crimes_path %>
    </div>
  </main>
  <div class="text-center">
    <%= render 'layouts/footer' %>
  </div>
</div>
