<div class="main">
  <div>
    <%= render './layouts/guest/header' %>
    <%= render 'layouts/alerts' %>
  </div>

  <main>
    <h3 class="">An automated crime record information system that: </h3>
    <ul>
      <li>Keep a record of those sentenced for crimes.</li>
      <li>Provides required information or fast and exact arraignment of crime associates in a court with capable jurisdiction.</li>
      <li>Act as an information base of past criminal records or cases which might have been dismissed</li>
    </ul>

    <div class="getting-started py-3 mt-4">
      <h5 class="d-inline-block">Getting started:</h5>
      <% if current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
      <% else %>
        <%#= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-dark d-inline-block mx-2' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-dark d-inline-block mx-2' %>
      <% end %>

      <%#= link_to 'Cateogries', categories_path, class: 'btn btn-dark d-inline-block mx-2' %>
    </div>
  </main>
  <%= render './layouts/footer' %>
</div>
